<br>
<br>
<br>
<h1>Ways to Contact Us</h1>

<img id="building-photo" src="/img/contactbuilding 2.jpg" width="700" height="400" alt="building">

<h3>Visit us or call</h3>
<p id="location-info">
  123 16th St.<br>
  Philadelphia, Pa, 10020<br>
  Phone: (215)-555-6758<br>
  Fax: (215)-555-9689<br>
</p>

<h3>Send us an email</h3>
<form>
  <input type="text" name="email-address" value="Enter your email address">
  <br>
  <br>
  <input id="email-form" type="text" name="email-message" value="Email message">
  <br>
  <input type="submit" name="submit" value="Submit">
</form>
