<br>
<br>
<br>
<h1 id="contact-header">Ways to Contact Us</h1>

<div class="photo-frame">
<img id="building-photo" src="/img/contactbuilding 2.jpg" width="700" height="400" alt="building">
</div>


<h3>Visit us or call</h3>
<p id="location-info">
  123 16th St.<br>
  Philadelphia, Pa, 10020<br>
  Phone: (215)-555-6758<br>
  Fax: (215)-555-9689<br>
</p>

<h3>Send us an email</h3>
<form>
  <input id="email-address" type="text" name="email-address" value="Enter your email address">
  <input id="email-subject" type="text" name="email-subject" value="Subject">
  <textarea id="email-body" type="text" name="email-message" value="Email message"> </textarea>
  <input type="submit" name="submit" value="Submit">
  <br>
</form>
