<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Computer Solutions</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <nav>
    <ul id="nav-left">
        <li><a href="/index"><img  class='home-pic' src="/img/home.jpg" alt="home"></a></li>
        <li><a href="/about"><img class='about-pic' src="/img/about.jpg" alt="about"></a></li>
        <li><a href="/contact"><img class='contact-pic' src="/img/contact.jpg" alt="contact"></a></li>
      </ul>

      <ul id="nav-right">
        <li><a href="facebook.com"><img class='facebook-pic' src="/img/facebook1.png" alt="facebook"></a></li>
        <li><a href="twitter.com"><img class='twitter-pic' src="/img/twitter.png" alt="twitter"></a></li>
      </ul>
    </nav>

    <%= yield %>

    <footer>
      <hr>
      <p id="footer-text">&copy; 2017 Computer solutions. Website designed by Michael James.</p>
    </footer>

    <script src="/js/index.js"></script>
  </body>
</html>
