<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Computer Solutions</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <nav>
    <ul>
        <li><a href="/index"><img  class='home-pic' src="/img/home.jpg" alt="home"></a></li>
        <li><a href="/about"><img class='about-pic' src="/img/about.jpg" alt="about"></a></li>
        <li><a href="/contact"><img class='contact-pic' src="/img/contact.jpg" alt="contact"></a></li>
      </ul>

    </nav>
    <%= yield %>
    <script src="/js/index.js"></script>
  </body>
</html>
