* {
  box-sizing: border-box;
}

/* NAVIGATION */

nav {
  background-color: #66b3ff;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 9999;
}

ul {
  margin: 0;
}

li {
  display: inline-block;
  color: white;
  height: 65px;
  width: 80px;
  text-align: center;
  font-family: sans-serif;
}

.home-pic {
  margin-top: 0;
  width: 45px;
  height: 45px;
  padding-bottom: 2px;
  padding-left: 0;
}

.about-pic {
  margin-top: 0;
  width: 45px;
  height: 45px;
  display: inline-block;
  padding-bottom: 2px;
}

.contact-pic {
  margin-top: 0;
  width: 50px;
  height: 55px;
  display: inline-block;
  padding-bottom: 2px;
  padding-top: 8px;

}

a {
  text-decoration: none;
}

/* HOMEPAGE */

#main-title {
  font-size: 70px;
  background-color: white;
  color: black;
  width: 625px;
  position: absolute;
  display: inline-block;
  margin: 0;
  z-index: 999;
  padding: 10px;
  opacity: 0.9;
  border-radius: 5%;
  }

.text-banner {
margin-top: -400px;
background-color: white;
z-index: 995;
height: 100px;
width: 200px;
  }

.main-subtext {
  font-size: 25px;
  color: black;
  background-color: white;
  width: 470px;
  display: block;
  z-index: 999;
  position: relative;
  margin-top: 40px;
  opacity: 0.9;
  padding: 3px;
  border-radius: 5%;
}

.main-teaser-text {
  background-color: white;
  color: black;
  padding: 7px;
  z-index: 998;
  position: relative;
  width: 400px;
  margin-top: 50px;
  opacity: 0.9;
  border-radius: 5%;
}


#main-image {
  width: 100%;
  height: 700px;
  position: relative;
  z-index: 1;
}


/* ABOUT PAGE */

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1/6;
  grid-row: 1/2;
  background-color: blue;
  text-align: center;
  font-size: 30px;
}

.two {
  grid-column: 1;
  grid-row: 2/6;
  background-color: red;
}

.three {
  grid-column: 2/6;
  grid-row: 2/4;
  background-color: green;
}

.four {
  grid-column: 2;
  grid-row: 5/6;
  background-color: orange;
}

.nine {
  grid-column: 2/6;
  grid-row: 4;
  background-color: blue;
}

.five {
  grid-column: 3;
  grid-row: 5/6;
  background-color: black;
}

.seven {
  grid-column: 4;
  grid-row: 5/6;
  background-color: red;
}

.eight {
  grid-column: 5;
  grid-row: 5/6;
  background-color: yellow;
}

.six {
  grid-column: 1/6;
  grid-row: 7;
  background-color: pink;
}

.ab-pic {
  max-width: 100%;
  max-height: 100%;
}

h3 {
  font-size: 60px;
  text-align: center;
}
